{
  "parser": "babel-eslint",
  "extends": ["google", "eslint:recommended", "plugin:react/all", "plugin:prettier/recommended"],
  "env": {
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "ignorePatterns": ["node_modules/", "dist/", "*.eslintrc", "*.svg",".json", ".gitignore", "*.md", "*.lock", "*.log"],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    // "space-before-function-paren": 0,
    // "react/jsx-boolean-value": 0,
    // "object-curly-spacing": 0    
  }
}
